<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body style="background-color:#E7F7FF;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <nav class="navbar" style="background-color: cornflowerblue; padding: 1em; border-radius: 0.2em;">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Milan Apartments | Skyline queries</span>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col d-flex justify-content-center">
    <div class="card text-center" style="width: 29rem;">
        <div class="card-body">
          <h5 class="card-title">Milan Apartments Recommendation</h5>
          <p class="card-text">Στην επόμενη σελίδα θα εμφανιστούν κάποια φίλτρα προκειμένου να βρείτε το κατάλληλο διαμέρισμα σύμφωνα με τις προτιμήσεις σας. Ρυθμίστε τα ανάλογα και πατήστε το κουμπί 'Submit'.</p>
          <a href="/pref" class="btn btn-primary">Let's Begin</a>
        </div>
    </div>
    </div>
</body>
</html>