<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body style="background-color:#E7F7FF;">  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <nav class="navbar" style="background-color: cornflowerblue; padding: 1em; border-radius: 0.2em;">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Milan Apartments | Skyline queries</span>
      </div>
  </nav>
  <br>
  <legend align="center">Choose your Filters</legend>

  <form action="/pref" style="display: flex; flex-direction: column;">
  <div class="row row-cols-3" style="justify-content: space-evenly;  --bs-gutter-x: 0rem;">
  <div class="col" style=" width:25%; display: flex; flex-direction: column; justify-content: space-between;">
  
    <div>
      <div style="display: flex; justify-content: space-between;">
      <label for="People" class="form-label">People</label>
      <output name="amountpeople" id="amountpeople" for="People">{{thepeople}}</output>
      </div>
      <input type="range" class="form-range" min="1" max="12" id="People" name="People" oninput="amountpeople.value=People.value" value="{{thepeople}}">
    </div>

    <div>
      <div style="display: flex; justify-content: space-between;">
      <label for="maxPrice" class="form-label">Max Price per day</label>
      <output name="amountmaxprice" id="amountmaxprice" for="maxPrice">{{themaxprice}}</output>
      </div>
      <input type="range" class="form-range" min="0" max="1000" step="10" id="maxPrice" name="maxPrice" oninput="amountmaxprice.value= maxPrice.value" value="{{themaxprice}}"> 
      </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="wheelcair" name="wheelchair">
      <label class="form-check-label" for="wheelcair">Wheelcair Accessibility</label>
    </div>
  </div>
  <div class="col" style=" width:25%; display: flex; flex-direction: column; justify-content: space-around;">


      <div>
        <div style="display: flex; justify-content: space-between;">
          <label for="locationminscores" class="form-label">Location Min Score</label>
          <output name="amountlocationminscores" id="amountlocationminscores" for="locationminscores">{{theminloc}}</output>
        </div>
        <input type="range" class="form-range" min="0" max="10" id="locationminscores" name="locationminscores" oninput="amountlocationminscores.value=locationminscores.value" value="{{theminloc}}">  
      </div>

    <div>
      <div style="display: flex; justify-content: space-between;">
        <label for="reviewsminscores" class="form-label">Reviews Min Score</label>
        <output name="amountreviewsminscores" id="amountreviewsminscores" for="reviewsminscores">{{theminrev}}</output>
      </div>
      <input type="range" class="form-range" min="0" max="100" step="10" id="reviesminscores" name="reviewsminscores" oninput="amountreviewsminscores.value=reviewsminscores.value" value="{{theminrev}}">
    </div>
  </div>
</div>
  <div style="align-self: center; padding: 2em;">
    <button class="btn btn-primary" type="submit" >Search</button>
  </div>
  </form>
  {% if show_table == 1 %}
  <h3 align="center">Results: {{my_list|length}}</h3>
  <br>
  <table class="table table-bordered table-sm">
    <thead>
      <tr  class="table-primary">
        <th scope="col">People</th>
        <th scope="col">WC</th>
        <th scope="col">Bedrooms</th>
        <th scope="col">Beds</th>
        <th scope="col">Daily Price</th>
        <th scope="col">No. of reviews</th>
        <th scope="col">Reviews</th>
        <th scope="col">Location</th>
        <th scope="col">TV</th>
        <th scope="col">WiFi</th>
        <th scope="col">A/C</th>
        <th scope="col">Kitchen</th>
        <th scope="col">Breakfast</th>
        <th scope="col">Elevator</th>
        <th scope="col">Heating</th>
        <th scope="col">Washer</th>
        <th scope="col">Iron</th>
        <th scope="col">Luggage Dropoff</th>
        <th scope="col">Pets</th>
        <th scope="col">Smoking Allowed</th>
        <th scope="col">Select</th>
      </tr>
    </thead>
    <tbody>
      {% for i in my_list %}
        <tr>
          <td scope="row">{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[4]}}</td>
          <td>{{i[5]}}</td>
          <td>{{i[6]}}</td>
          <td>{{i[7]}}</td>
          <td>{{i[8]}}/100</td>
          <td>{{i[9]}}/10</td>
          <td>{% if i[10] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[11] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[12] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[14] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[15] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[16] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[17] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[18] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[19] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[20] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[21] == 1 %} yes {% else %} no {% endif %}</td>
          <td>{% if i[22] == 1 %} yes {% else %} no {% endif %}</td>
          <td><a href='/results?wheelchair={{wheelchair}}&people={{i[2]}}&TV={{i[10]}}&WiFi={{i[11]}}&air_Condition={{i[12]}}&kitchen={{i[14]}}&breakfast={{i[15]}}&elevator={{i[16]}}&heating={{i[17]}}&washer={{i[18]}}&iron={{i[19]}}&luggage={{i[20]}}&smoking={{i[22]}}&maxPrice={{i[6]}}&locationminscores={{i[9]}}&reviewsminscores={{i[8]}}' class="btn btn-outline-primary">Select</a></td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
</body>
</html>