
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body style="background-color:#E7F7FF;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <nav class="navbar" style="background-color: cornflowerblue; padding: 1em; border-radius: 0.2em;">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Milan Apartments | Skyline queries</span>
        </div>
    </nav>
    <br>
    <h4 align="center">Please complete the questionnaire below</h4>
    <br>
    <form action="/adios" style="display: flex; flex-direction: column;">
      <p class="fw-bold" align="center">What is your age?</p>
      <output align="center" name="amountage" id="amountage" for="amountage">50</output>
      <input type="range" class="form-range" style="max-width: 20em; align-self: center;" min="0" max="100" id="age" name="age" oninput="amountage.value=age.value">
      <br>
      <fieldset id="question0">
        <p class="fw-bold" align="center">How familiar are you with Recommendation Systems?</p>
        <div class="text-center mb-3">
          <div class="d-inline mx-3">
            Not at all
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question0" id="inlineRadio1"
              value="1" />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question0" id="inlineRadio2"
              value="2" />
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question0" id="inlineRadio3"
              value="3" />
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question0" id="inlineRadio4"
              value="4" />
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question0" id="inlineRadio5"
              value="5" />
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question0" id="inlineRadio6"
              value="6" />
            <label class="form-check-label" for="inlineRadio6">6</label>
      
          </div>
          <div class="d-inline me-4">
            Very much
          </div>
        </div>
        </fieldset>
      <br>
      <fieldset id="question1">
      <p class="fw-bold" align="center">How mentally demanding was the task?</p>
      <div class="text-center mb-3">
        <div class="d-inline mx-3">
          Not at all
        </div>
    
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="question1" id="inlineRadio1"
            value="1" />
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
    
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="question1" id="inlineRadio2"
            value="2" />
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
    
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="question1" id="inlineRadio3"
            value="3" />
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
    
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="question1" id="inlineRadio4"
            value="4" />
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
    
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="question1" id="inlineRadio5"
            value="5" />
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
    
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="question1" id="inlineRadio6"
            value="6" />
          <label class="form-check-label" for="inlineRadio6">6</label>
    
        </div>
        <div class="d-inline me-4">
          Very much
        </div>
      </div>
      </fieldset>
      <br>
      <fieldset id="question2">
        <p class="fw-bold" align="center">How hurried or rushed was the pace of the task?</p>
        <div class="text-center mb-3">
          <div class="d-inline mx-3">
            Not at all
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question2" id="inlineRadio1"
              value="1" />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question2" id="inlineRadio2"
              value="2" />
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question2" id="inlineRadio3"
              value="3" />
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question2" id="inlineRadio4"
              value="4" />
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question2" id="inlineRadio5"
              value="5" />
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question2" id="inlineRadio6"
              value="6" />
            <label class="form-check-label" for="inlineRadio6">6</label>
      
          </div>
          <div class="d-inline me-4">
            Very much
          </div>
        </div>
        </fieldset>
      </fieldset>
      <br>
      <fieldset id="question3">
        <p class="fw-bold" align="center">How satisfied are you with the apartment you chose?</p>
        <div class="text-center mb-3">
          <div class="d-inline mx-3">
            Not at all
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question3" id="inlineRadio1"
              value="1" />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question3" id="inlineRadio2"
              value="2" />
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question3" id="inlineRadio3"
              value="3" />
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question3" id="inlineRadio4"
              value="4" />
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question3" id="inlineRadio5"
              value="5" />
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question3" id="inlineRadio6"
              value="6" />
            <label class="form-check-label" for="inlineRadio6">6</label>
      
          </div>
          <div class="d-inline me-4">
            Very much
          </div>
        </div>
        </fieldset>
        <br>
      </fieldset>
      <br>
      <fieldset id="question4">
        <p class="fw-bold" align="center">How satisfied are you with the recommended apartments that emerged?</p>
        <div class="text-center mb-3">
          <div class="d-inline mx-3">
            Not at all
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question4" id="inlineRadio1"
              value="1" />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question4" id="inlineRadio2"
              value="2" />
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question4" id="inlineRadio3"
              value="3" />
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question4" id="inlineRadio4"
              value="4" />
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question4" id="inlineRadio5"
              value="5" />
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question4" id="inlineRadio6"
              value="6" />
            <label class="form-check-label" for="inlineRadio6">6</label>
      
          </div>
          <div class="d-inline me-4">
            Very much
          </div>
        </div>
        </fieldset>
        <br>
      </fieldset>
      <br>
      <fieldset id="question5">
        <p class="fw-bold" align="center"> How hard did you have to work to complete the task (your searching effort)?</p>
        <div class="text-center mb-3">
          <div class="d-inline mx-3">
            Not at all
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question5" id="inlineRadio1"
              value="1" />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question5" id="inlineRadio2"
              value="2" />
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question5" id="inlineRadio3"
              value="3" />
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question5" id="inlineRadio4"
              value="4" />
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question5" id="inlineRadio5"
              value="5" />
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question5" id="inlineRadio6"
              value="6" />
            <label class="form-check-label" for="inlineRadio6">6</label>
      
          </div>
          <div class="d-inline me-4">
            Very much
          </div>
        </div>
        </fieldset>
        <br>
      </fieldset>
      <br>
      <fieldset id="question6">
        <p class="fw-bold" align="center">How discouraged, irritated, stressed and annoyed were you?</p>
        <div class="text-center mb-3">
          <div class="d-inline mx-3">
            Not at all
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question6" id="inlineRadio1"
              value="1" />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question6" id="inlineRadio2"
              value="2" />
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question6" id="inlineRadio3"
              value="3" />
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question6" id="inlineRadio4"
              value="4" />
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question6" id="inlineRadio5"
              value="5" />
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question6" id="inlineRadio6"
              value="6" />
            <label class="form-check-label" for="inlineRadio6">6</label>
      
          </div>
          <div class="d-inline me-4">
            Very much
          </div>
        </div>
        </fieldset>
        <br>
      </fieldset>
      <br>
      <fieldset id="question7">
        <p class="fw-bold" align="center"> How challenging was the apartment selection from the provided results?</p>
        <div class="text-center mb-3">
          <div class="d-inline mx-3">
            Not at all
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question7" id="inlineRadio1"
              value="1" />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question7" id="inlineRadio2"
              value="2" />
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question7" id="inlineRadio3"
              value="3" />
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question7" id="inlineRadio4"
              value="4" />
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question7" id="inlineRadio5"
              value="5" />
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question7" id="inlineRadio6"
              value="6" />
            <label class="form-check-label" for="inlineRadio6">6</label>
      
          </div>
          <div class="d-inline me-4">
            Very much
          </div>
        </div>
        </fieldset>
        <br>
      </fieldset>
      <br>
      <fieldset id="question8">
        <p class="fw-bold" align="center">Did you find rooms in your search that were not appealing at all to you?</p>
        <div class="text-center mb-3">
          <div class="d-inline mx-3">
            Not at all
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question8" id="inlineRadio1"
              value="1" />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question8" id="inlineRadio2"
              value="2" />
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question8" id="inlineRadio3"
              value="3" />
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question8" id="inlineRadio4"
              value="4" />
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question8" id="inlineRadio5"
              value="5" />
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
      
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question8" id="inlineRadio6"
              value="6" />
            <label class="form-check-label" for="inlineRadio6">6</label>
      
          </div>
          <div class="d-inline me-4">
            Very much
          </div>
        </div>
        </fieldset>
        <div style="align-self: center; padding: 2em;">
          <button class="btn btn-primary" type="submit" >Submit</button>
        </div>
    </form>
</body>
</html>